* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
    font-family: sans-serif;
    overflow: hidden;
}


/* Logo */

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.logo_phone,
.logo_mail {
    display: flex;
    flex-wrap: nowrap;
}

.logo_contact {
    margin-left: 25px;
    padding-right: 10px;
}

.logo_social_media {
    margin-left: 10rem;
}

.logo_social_media .fa-brands,
.nav_social_media .fa-brands {
    padding: 5px;
    border: 1px solid #35b28d;
    border-radius: 50%;
    background-color: #35b28d;
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

.phone_description,
.mail_description {
    font-size: 1.6rem;
    color: gray;
}

.logo_name {
    font-weight: bold;
    text-transform: uppercase;
    color: #51758d;
}

.main-logo {
   color: #51758d
}

/* Nawigacja */

.nav_container {
    background-color: #f28b20;
    display: flex;
    align-items: center;
}

.nav_wrapper {
    display: flex;
    justify-content: flex-start;
}

.nav_menu_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;

}

.nav_menu_wrapper a {
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px;
}

.nav_about {
    position: relative;
}

.nav_about_submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 100px;
    left: 0;
    width: 180px;
    height: 150px;
    z-index: -1;
    list-style-type: none;
    background-color: #2a485c;
}

.nav_about_submenu li {
    width: 100%;
    font-size: 1.4rem;
    padding: 5px 10px;
}

.nav_about_submenu li a {
    display: inline-block;
    padding: 10px 15px;
}

.nav_about_submenu li:hover {
    background-color: #51758c;
}

.nav_search {
    display: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #cc6601;
    transition: 1s;
}

.nav_search input {
    background-color: #cc6601;
    color: #fff;
    font-size: 1.6rem;
    border: none;
    border-left: 3px solid #fff;
    animation: cursor 1s infinite linear;
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }

    15% {
        border-color: transparent;
    }

    25% {
        border-color: #fff;
    }

    75% {
        border-color: #fff;
    }

    90% {
        border-color: transparent;
    }

    100% {
        border-color: transparent;
    }

}

.nav_search input::placeholder {
    color: #fff;
    text-transform: uppercase;
    opacity: 1;
}

/* Karuzela zdjęć */


.slider_container {
    height: 30vh;
    position: relative;
    background-image: url('../../images_content/slider1.png');
}

.slider_h1 {
    text-transform: uppercase;
    color: #fff;
    font-family: serif;
}

.slider_description {
    background-color: #fff;
    color: #707574;
}

.slider_one {
    display: flex;
}

.slider_two,
.slider_three {
    display: none;
}

.slider_btn,
.slider_mobile_btn {
    border: 1px solid #35b38e;
    background-color: #35b38e;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

/* Narzędzia */

.tools_container {
    margin-top: 50px;
    color: #51758c;
}

.h1_tools {
    text-align: center;
    text-transform: uppercase;
}

.tools_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.tools_description {
    position: relative;
    margin-top: 15px;
}

.tools {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    top: -5px;
    right: -20px;
}

.last_tool {
    position: absolute;
    top: -10px;
    left: 0;
}

/* Media Queries  */

@media (max-width: 319px) {
    .logo_container {
        position: relative;
    }

    .main-logo,
    .logo_phone,
    .logo_mail {
        padding: 0;
        margin: 0;
    }

    .logo_phone img,
    .logo_mail img {
        padding: 0;
        margin: 0;
    }

    .phone_description,
    .mail_description {
        display: none;
    }

    .logo_social_media {
        display: none;
    }

    /* Nawigacja */
    .nav_container {
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
        height: 80px;
    }

    .nav_wrapper {
        flex-basis: 80%;
        justify-content: space-between;
    }

    .nav_menu_wrapper {
        display: none;
    }

    .nav_mobile_wrapper {
        padding-left: 10px;
    }

    .nav_mobile_wrapper a {
        margin-right: 1rem;
    }

    .nav_mail {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -2%;
    }

    .nav_mobile_icons {
        flex-basis: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .hamburger {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 4.5rem;
        padding: 5px;
        margin-right: 10px;
        cursor: pointer;
        color: #fff;
    }

    .nav_hamburger {
        position: absolute;
        top: 0;
        right: -80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100vh;
        width: 80%;
        z-index: 1;
        background-color: #51758c;
        list-style: none;

    }

    .nav_hamburger li {
        width: 80%;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 0 10px 20px;
        margin: 10px 0;
    }

    .nav_hamburger a {
        text-decoration: none;
        color: #fff;
    }

    .about,
    .solution {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #about-minus,
    #solution-minus {
        display: none;
    }

    #about-minus,
    #about-plus,
    #solution-minus,
    #solution-plus {
        padding: 5px;
        cursor: pointer;
    }

    .search_close {
        display: none;
    }

    .nav_search_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 100%;
    }

    .nav_search input {
        margin-left: 0;
    }


    .nav_hamburger .solutions,
    .nav_hamburger .about {
        position: relative;
    }

    .fa-plus,
    .fa-minus {
        color: white;
    }


    .nav_hamburger .about_menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #2b475c;
        width: 100%;
    }


    .nav_container .mobile_menu_close {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
        padding: 0 15px;
    }

    /* Slider */

    .slider_container {
        height: 50vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .slider_h1 {
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
        font-size: 2.2rem;
        text-align: center;
    }

    .slider_description {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        font-size: 1.4rem;
        border: 1px solid #fff;
        padding: 10px 5px;
        text-align: center;
    }

    .slider_mobile_btn {
        display: none;
    }

    .slider_btn {
        position: absolute;
        top: 86%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 10px;
        font-size: 1rem;
        font-weight: bold;
    }

    .left_arrow_btn,
    .right_arrow_btn {
        position: absolute;
        top: 85%;
        color: #fff;
        font-size: 5rem;
        padding: 5px;
        cursor: pointer;
    }

    .left_arrow_btn {
        left: 5%;
    }

    .right_arrow_btn {
        right: 5%;
    }

    /* Narzędzia */

    .h1_tools {
        font-size: 1.4rem;
    }

    .tools_wrapper {
        flex-direction: column;
        justify-content: space-evenly;
        height: 500px;
    }
}

@media (min-width: 320px) {

    .wrapper {
        overflow: hidden;
    }

    /* Logo */
    .logo_container {
        position: relative;
        justify-content: center;
        padding: 40px 0;
    }

    .logo_phone {
        margin-right: -20px;
    }

    .phone_description,
    .mail_description {
        display: none;
    }

    .logo_social_media {
        display: none;
    }

    /* Nawigacja */
    .nav_container {
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
        height: 80px;
    }

    .nav_wrapper {
        flex-basis: 80%;
        justify-content: space-between;
    }

    .nav_menu_wrapper {
        display: none;
    }

    .nav_mobile_wrapper {
        padding-left: 10px;
    }

    .nav_mobile_wrapper a {
        margin-right: 1rem;
    }

    .nav_mail {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -2%;
    }

    .nav_mobile_icons {
        flex-basis: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .hamburger {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 4.5rem;
        padding: 5px;
        margin-right: 10px;
        cursor: pointer;
        color: #fff;
    }

    .nav_hamburger {
        position: absolute;
        top: 0;
        right: -80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100vh;
        width: 80%;
        z-index: 1;
        background-color: #51758c;
        list-style: none;

    }

    .nav_hamburger li {
        width: 80%;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 0 10px 20px;
        margin: 10px 0;
    }

    .nav_hamburger a {
        text-decoration: none;
        color: #fff;
    }

    .about,
    .solution {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #about-minus,
    #solution-minus {
        display: none;
    }

    #about-minus,
    #about-plus,
    #solution-minus,
    #solution-plus {
        padding: 5px;
        cursor: pointer;
    }

    .search_close {
        display: none;
    }

    .nav_search_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 100%;
    }

    .nav_search input {
        margin-left: 0;
    }


    .nav_hamburger .solutions,
    .nav_hamburger .about {
        position: relative;
    }

    .fa-plus,
    .fa-minus {
        color: white;
    }

    .nav_hamburger .about_menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #2b475c;
        width: 100%;
    }

    .nav_container .mobile_menu_close {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
        padding: 0 15px;
    }

    /* Slider */

    .slider_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .slider_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .slider_one,
    .slider_two,
    .slider_three {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-basis: 80%;
    }

    .slider_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider_h1 {
        font-size: 3rem;
        text-align: center;
    }

    .slider_description {
        font-size: 1.4rem;
        border: 1px solid #fff;
        padding: 10px 5px;
        text-align: center;
    }

    .slider_mobile_left_arrow {
        order: -1;
        margin-right: 2rem;
    }

    .slider_mobile_right_arrow {
        margin-left: 2rem;
    }

    .slider_btn,
    .slider_right_arrow,
    .slider_left_arrow {
        display: none;
    }

    .slider_btn,
    .slider_mobile_btn {
        padding: 20px 20px;
        font-size: 1rem;
        letter-spacing: 1.5px;
        font-weight: bold;
    }

    .slider_btn {
        margin-bottom: 2rem;
    }

    .left_arrow_btn,
    .right_arrow_btn {
        color: #fff;
        font-size: 7rem;
        padding: 5px;
        cursor: pointer;
    }

    /* Nardzędzia */

    .h1_tools {
        font-size: 2.2rem;
        letter-spacing: 3px;
        padding: 0 60px;
        margin: 0 auto;
    }

    .tools_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px auto;
    }

    .tools_icons {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }


    .tools_description {
        position: relative;
        margin-top: 15px;
    }

    .tools {
        position: absolute;
        top: 0;
        left: 0;
    }

    .arrow {
        position: absolute;
        top: -5px;
        right: -20px;
    }

    .last_tool {
        position: absolute;
        top: -10px;
        left: 0;
    }
}

@media (min-width: 768px) {

    /* Logo */
    .logo_container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .logo_name {
        font-weight: bold;
        font-size: 1.4rem;
    }

    .phone_description,
    .mail_description {
        display: block;
        font-size: 1.2rem;
        margin-right: 10px;
    }

    .logo_social_media {
        display: block;
        flex-basis: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
    }

    .logo_social_media a {
        margin-right: 10px;
    }

    /* Nawigacja */

    .nav_wrapper {
        max-width: 1200px;
        justify-content: left;
        align-items: center;
        flex-basis: 100%;
    }

    .nav_menu_wrapper {
        display: flex;
    }

    .nav_mobile_icons {
        flex-grow: 1;
    }

    .nav_mobile_wrapper {
        display: none;
    }

    .nav_menu_wrapper a {
        font-size: 1.4rem;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100px;
        color: #fff;
        background-color: #51758c;
        z-index: 1;
    }

    .menu::before {
        content: "";
        position: absolute;
        top: -11%;
        left: -12%;
        border-top: 11px solid transparent;
        border-left: 11px solid transparent;
        border-bottom: 11px solid #2a485c;
    }

    .hamburger {
        display: none;
    }

    /* Slider */

    .slider_container {
        height: 40vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .slider_mobile {
        display: none;
    }

    .slider_wrapper {
        align-items: flex-start;
    }

    .slider_one,
    .slider_two,
    .slider_three {
        flex-basis: 60%;
        margin-top: 6rem;
    }

    .slider_left_arrow,
    .slider_right_arrow {
        align-items: center;
    }

    .slider_left_arrow {
        order: -1;
        justify-content: flex-start;
    }

    .slider_right_arrow {
        justify-content: flex-end;
    }

    .slider_left_arrow,
    .slider_right_arrow,
    .slider_btn {
        display: flex;
    }

    .slider_h1 {
        text-align: left;
        font-size: 3rem;
        width: 100%;
    }



    .slider_description {
        align-self: flex-start;
        font-size: 1.4rem;
        padding: 10px 15px;
        text-align: justify;
        width: 60%;
        opacity: .7;
    }

    .slider_btn {
        padding: 15px 25px;
    }


    */
}


@media (min-width: 1200px) {
    /* Logo */

    .logo_container {
        justify-content: center;
        flex-wrap: nowrap;
        max-width: 1200px;
        padding: 20px 0;
        margin: 0 auto;
    }

    .logo_name {
        font-size: 1.6rem;
    }

    .phone_description,
    .mail_description {
        font-size: 1.4rem;
    }

    .logo_social_media {
        flex-basis: 10%;
        align-self: center;
        margin: 0 2rem 0 4rem;

    }

    /* Nawigacja */

    .nav_container {
        justify-content: center;
    }

    .nav_wrapper {
        max-width: 1200px;
        justify-content: center;
    }

    .nav_menu_wrapper {
        margin-left: 1rem;
    }

    .nav_wrapper a {
        font-size: 1.6rem;
    }

    .nav_mobile_icons {
        flex-basis: 12%;
        justify-content: flex-end;
        flex-grow: 0;
    }

    .nav_search_wrapper {
        max-width: 1200px;
        justify-content: center;
    }


    .nav_search input {
        flex-basis: 55%;
        margin-left: 2rem;
    }

    .nav_search a {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-basis: 10%;
    }

    /* Slider */

    .slider_h1 {
        font-size: 3rem;
        letter-spacing: 2px;
    }

    .slider_description {
        font-size: 1.6rem;
        width: 50%;
    }

    .slider_btn {
        padding: 20px 30px;
    }

    .slider_left_arrow,
    .slider_right_arrow {
        flex-basis: 40%;
    }

    .slider_left_arrow {
        margin-left: 2rem;
    }

    .slider_right_arrow {
        margin-right: 2rem;
    }

    /* Narzędzia */

    .h1_tools {
        font-size: 2.6rem;
    }

    .tools_wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .tools_icons {
        margin: 0 60px;
    }
}